.frame {
  background-color: #332e4a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #332e4a;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.frame .header {
  position: absolute;
  width: 2008px;
  height: 108px;
  top: 0;
  left: -298px;
  background-color: transparent;
}

.frame .overlap-group {
  position: relative;
  width: 2002px;
  height: 108px;
  background-color: #00000040;
}

.frame .leonardo-phoenix {
  position: absolute;
  width: 134px;
  height: 56px;
  top: 26px;
  left: 298px;
  object-fit: cover;
}

.frame .overlap {
  position: absolute;
  width: 488px;
  height: 53px;
  top: 27px;
  left: 776px;
  background-image: url(./img/rectangle-5.svg);
  background-size: 100% 100%;
}

.frame .text-wrapper {
  position: absolute;
  width: 349px;
  top: 20px;
  left: 90px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .search {
  position: absolute;
  width: 44px;
  height: 49px;
  top: 1px;
  left: 20px;
  background-blend-mode: darken;
  object-fit: cover;
}

.frame .vector-wrapper {
  position: absolute;
  width: 74px;
  height: 72px;
  top: 16px;
  left: 660px;
  background-color: #d9d9d9;
  border-radius: 37px/36px;
}

.frame .vector {
  position: absolute;
  width: 33px;
  height: 43px;
  top: 13px;
  left: 20px;
}

.frame .div-wrapper {
  position: absolute;
  width: 130px;
  height: 72px;
  top: 17px;
  left: 1568px;
  background-color: #d9d9d9;
  border-radius: 45px;
}

.frame .text-wrapper-2 {
  position: absolute;
  width: 80px;
  top: 23px;
  left: 35px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-2 {
  position: absolute;
  width: 130px;
  height: 72px;
  top: 17px;
  left: 1418px;
  background-color: #d9d9d9;
  border-radius: 45px;
}

.frame .text-wrapper-3 {
  position: absolute;
  width: 80px;
  top: 23px;
  left: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 96px;
  height: 39px;
  top: 1316px;
  left: 20px;
  border-radius: 9999px;
  border: 1px solid;
  border-color: #7c7c7c;
}

.frame .img {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 8px;
  left: 13px;
}

.frame .text-wrapper-4 {
  position: absolute;
  width: 47px;
  height: 20px;
  top: 9px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-3 {
  position: absolute;
  width: 304px;
  height: 1171px;
  top: 108px;
  left: 0;
}

.frame .rectangle {
  width: 304px;
  height: 1129px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #332e4a;
  border-radius: 25px;
}

.frame .button-collapse-your {
  position: absolute;
  width: 142px;
  height: 49px;
  top: 176px;
  left: 27px;
  border-radius: 9999px;
}

.frame .img-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.frame .text-wrapper-5 {
  position: absolute;
  width: 90px;
  height: 22px;
  top: 13px;
  left: 44px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 15.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .button-create {
  position: absolute;
  width: 32px;
  height: 39px;
  top: 181px;
  left: 257px;
}

.frame .group {
  position: absolute;
  width: 280px;
  height: 201px;
  top: 100px;
  left: 16px;
}

.frame .overlap-4 {
  position: relative;
  width: 276px;
  height: 201px;
  background-color: #434d70;
  border-radius: 10px;
}

.frame .text-wrapper-6 {
  position: absolute;
  width: 213px;
  height: 41px;
  top: 39px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .it-s-easy-we-ll-help {
  position: absolute;
  width: 158px;
  height: 37px;
  top: 83px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .background {
  position: absolute;
  width: 108px;
  height: 39px;
  top: 141px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 9999px;
}

.frame .text-wrapper-7 {
  position: absolute;
  width: 94px;
  height: 20px;
  top: 11px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13.2px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-wrapper {
  position: absolute;
  width: 280px;
  height: 239px;
  top: 322px;
  left: 16px;
}

.frame .overlap-5 {
  position: relative;
  width: 276px;
  height: 239px;
  background-image: url(./img/rectangle-13.svg);
  background-size: 100% 100%;
}

.frame .let-s-find-some {
  position: absolute;
  width: 246px;
  height: 41px;
  top: 47px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14.9px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .we-ll-keep-you {
  position: absolute;
  width: 199px;
  height: 37px;
  top: 102px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13.5px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .background-2 {
  position: absolute;
  width: 114px;
  height: 39px;
  top: 173px;
  left: 22px;
  background-color: #ffffff;
  border-radius: 9999px;
}

.frame .text-wrapper-8 {
  position: absolute;
  width: 111px;
  height: 20px;
  top: 11px;
  left: 2px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-2 {
  position: absolute;
  width: 192px;
  height: 127px;
  top: 1044px;
  left: 20px;
}

.frame .link {
  position: absolute;
  width: 27px;
  height: 18px;
  top: 0;
  left: 0;
}

.frame .text-wrapper-9 {
  position: absolute;
  width: 27px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.7px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-2 {
  position: absolute;
  width: 67px;
  height: 18px;
  top: 36px;
  left: 0;
}

.frame .text-wrapper-10 {
  position: absolute;
  width: 67px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.1px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-3 {
  position: absolute;
  width: 40px;
  height: 18px;
  top: 36px;
  left: 83px;
}

.frame .text-wrapper-11 {
  position: absolute;
  width: 41px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-4 {
  position: absolute;
  width: 53px;
  height: 18px;
  top: 36px;
  left: 140px;
}

.frame .text-wrapper-12 {
  position: absolute;
  width: 53px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.7px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-5 {
  position: absolute;
  width: 62px;
  height: 18px;
  top: 72px;
  left: 0;
}

.frame .text-wrapper-13 {
  position: absolute;
  width: 62px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-6 {
  position: absolute;
  width: 98px;
  height: 18px;
  top: 72px;
  left: 78px;
}

.frame .text-wrapper-14 {
  position: absolute;
  width: 98px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .safety-privacy-wrapper {
  position: absolute;
  width: 116px;
  height: 18px;
  top: 0;
  left: 43px;
}

.frame .safety-privacy {
  position: absolute;
  width: 116px;
  height: 15px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 10.3px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-7 {
  position: absolute;
  width: 60px;
  height: 27px;
  top: 100px;
  left: 0;
}

.frame .text-wrapper-15 {
  position: absolute;
  width: 44px;
  height: 17px;
  top: 3px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 11.4px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .button-collapse-your-2 {
  position: absolute;
  width: 142px;
  height: 40px;
  top: 25px;
  left: 18px;
  border-radius: 9999px;
}

.frame .text-wrapper-16 {
  position: absolute;
  width: 90px;
  height: 22px;
  top: 8px;
  left: 44px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #b3b3b3;
  font-size: 15.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.frame .button-create-2 {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 29px;
  left: 248px;
}

.frame .overlap-group-wrapper {
  position: absolute;
  width: 1121px;
  height: 1266px;
  top: 108px;
  left: 304px;
}

.frame .overlap-6 {
  position: relative;
  width: 1152px;
  height: 1262px;
  top: 4px;
}

.frame .rectangle-2 {
  width: 1131px;
  height: 1262px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #332e4a;
  border-radius: 25px;
}

.frame .popular-artist {
  position: absolute;
  width: 1129px;
  height: 247px;
  top: 2px;
  left: 12px;
}

.frame .text-wrapper-17 {
  position: absolute;
  width: 251px;
  top: 0;
  left: 10px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .text-wrapper-18 {
  position: absolute;
  width: 138px;
  top: 21px;
  left: 973px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .mahalini-text {
  position: absolute;
  top: 229px;
  left: 17px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .lany-text {
  position: absolute;
  top: 229px;
  left: 160px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .keshi-text {
  position: absolute;
  top: 229px;
  left: 324px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .the-text {
  position: absolute;
  top: 229px;
  left: 480px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .tulus-text {
  position: absolute;
  top: 228px;
  left: 648px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .keisya-text {
  position: absolute;
  width: 54px;
  top: 229px;
  left: 803px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .lady-gaga-text {
  position: absolute;
  top: 228px;
  left: 958px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .img-3 {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 0;
  object-fit: cover;
}

.frame .lany {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 160px;
}

.frame .img-4 {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 320px;
  object-fit: cover;
}

.frame .the {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 479px;
}

.frame .tulus {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 640px;
}

.frame .keisya {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 799px;
}

.frame .lady-gaga {
  position: absolute;
  width: 151px;
  height: 158px;
  top: 59px;
  left: 954px;
  object-fit: cover;
}

.frame .popular-album {
  position: absolute;
  width: 1139px;
  height: 261px;
  top: 276px;
  left: 12px;
}

.frame .text-wrapper-19 {
  position: absolute;
  width: 138px;
  top: 21px;
  left: 983px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-20 {
  position: absolute;
  width: 251px;
  top: 0;
  left: 20px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .new-jeans-super-shy {
  width: 131px;
  top: 225px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  left: 0;
}

.frame .gg-bb-xx-text {
  position: absolute;
  top: 225px;
  left: 160px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .twice-what-is-love {
  position: absolute;
  width: 141px;
  top: 225px;
  left: 320px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .that-s-the-spirit {
  position: absolute;
  top: 225px;
  left: 476px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .back-from-the-edge {
  position: absolute;
  width: 142px;
  top: 225px;
  left: 639px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .die-with-a-smile {
  color: #ffffff;
  white-space: nowrap;
  position: absolute;
  top: 225px;
  left: 799px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .mahalini-text-2 {
  position: absolute;
  top: 225px;
  left: 961px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .gg-bb-xx {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 160px;
  object-fit: cover;
}

.frame .that-s-the-spirit-2 {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 480px;
  object-fit: cover;
}

.frame .james-arthur {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 640px;
  object-fit: cover;
}

.frame .bruno-mars {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 800px;
  object-fit: cover;
}

.frame .rounded-rectangle {
  position: absolute;
  width: 141px;
  height: 150px;
  top: 59px;
  left: 958px;
  object-fit: cover;
}

.frame .popular-song {
  position: absolute;
  width: 1115px;
  height: 277px;
  top: 596px;
  left: 12px;
}

.frame .super-shy-new-jeans {
  position: absolute;
  top: 225px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .span {
  color: #ffffff;
}

.frame .text-wrapper-21 {
  color: #ffffff96;
  font-size: 13px;
}

.frame .dna-LANY-text {
  position: absolute;
  top: 225px;
  left: 160px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .what-is-love-twice {
  position: absolute;
  top: 225px;
  left: 319px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .follow-you-bring-me {
  position: absolute;
  width: 142px;
  top: 225px;
  left: 479px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .say-you-want-let-go {
  position: absolute;
  width: 142px;
  top: 225px;
  left: 639px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  width: 142px;
  color: transparent;
  position: absolute;
  top: 225px;
  left: 799px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .numb-linkind-park {
  position: absolute;
  top: 225px;
  left: 958px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-3 {
  position: absolute;
  width: 1152px;
  height: 320px;
  top: 942px;
  left: 0;
}

.frame .text-wrapper-22 {
  position: absolute;
  width: 78px;
  height: 19px;
  top: 0;
  left: 49px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .container {
  position: absolute;
  width: 43px;
  height: 26px;
  top: 93px;
  left: 50px;
}

.frame .text-wrapper-23 {
  position: absolute;
  width: 46px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .container-2 {
  position: absolute;
  width: 33px;
  height: 26px;
  top: 32px;
  left: 51px;
}

.frame .text-wrapper-24 {
  position: absolute;
  width: 35px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.4px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .container-wrapper {
  position: absolute;
  width: 108px;
  height: 19px;
  top: 66px;
  left: 46px;
}

.frame .container-3 {
  position: relative;
  width: 105px;
  height: 30px;
  top: -8px;
  left: 4px;
}

.frame .text-wrapper-25 {
  position: absolute;
  width: 106px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-26 {
  position: absolute;
  width: 100px;
  height: 19px;
  top: 0;
  left: 263px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-8 {
  position: absolute;
  width: 55px;
  height: 19px;
  top: 26px;
  left: 267px;
}

.frame .container-4 {
  position: relative;
  width: 74px;
  height: 30px;
}

.frame .text-wrapper-27 {
  position: absolute;
  width: 74px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-9 {
  position: absolute;
  width: 62px;
  height: 19px;
  top: 78px;
  left: 264px;
}

.frame .container-5 {
  position: relative;
  width: 84px;
  height: 30px;
}

.frame .text-wrapper-28 {
  position: absolute;
  width: 84px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-10 {
  position: absolute;
  width: 63px;
  height: 19px;
  top: 105px;
  left: 263px;
}

.frame .text-wrapper-29 {
  position: absolute;
  width: 85px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.6px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-11 {
  position: absolute;
  width: 49px;
  height: 19px;
  top: 157px;
  left: 263px;
}

.frame .container-6 {
  position: relative;
  width: 67px;
  height: 30px;
}

.frame .text-wrapper-30 {
  position: absolute;
  width: 67px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.4px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-12 {
  position: absolute;
  width: 45px;
  height: 19px;
  top: 131px;
  left: 272px;
}

.frame .container-7 {
  position: relative;
  width: 60px;
  height: 30px;
}

.frame .text-wrapper-31 {
  position: absolute;
  width: 61px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-32 {
  position: absolute;
  width: 94px;
  height: 19px;
  top: 0;
  left: 486px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14.9px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-13 {
  position: absolute;
  width: 45px;
  height: 19px;
  top: 76px;
  left: 486px;
}

.frame .text-wrapper-33 {
  position: absolute;
  width: 60px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-14 {
  position: absolute;
  width: 89px;
  height: 19px;
  top: 52px;
  left: 486px;
}

.frame .container-8 {
  position: relative;
  width: 119px;
  height: 30px;
}

.frame .text-wrapper-34 {
  position: absolute;
  width: 120px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.4px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-35 {
  width: 109px;
  height: 19px;
  top: 5px;
  left: 719px;
  font-weight: 700;
  color: #ffffff;
  font-size: 14.9px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-15 {
  position: absolute;
  width: 73px;
  height: 19px;
  top: 52px;
  left: 710px;
}

.frame .container-9 {
  position: relative;
  width: 98px;
  height: 30px;
}

.frame .text-wrapper-36 {
  width: 98px;
  font-size: 15.5px;
  position: absolute;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-16 {
  position: absolute;
  width: 86px;
  height: 19px;
  top: 78px;
  left: 710px;
}

.frame .container-10 {
  position: relative;
  width: 115px;
  height: 30px;
}

.frame .text-wrapper-37 {
  width: 115px;
  font-size: 15.4px;
  position: absolute;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-17 {
  position: absolute;
  width: 94px;
  height: 19px;
  top: 105px;
  left: 710px;
}

.frame .container-11 {
  position: relative;
  width: 127px;
  height: 30px;
}

.frame .text-wrapper-38 {
  width: 127px;
  font-size: 15.5px;
  position: absolute;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-18 {
  position: absolute;
  width: 65px;
  height: 19px;
  top: 131px;
  left: 710px;
}

.frame .container-12 {
  position: relative;
  width: 87px;
  height: 30px;
}

.frame .text-wrapper-39 {
  width: 87px;
  height: 22px;
  top: -1px;
  left: 0;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.1px;
  position: absolute;
  font-family: "Inter", Helvetica;
  letter-spacing: 0;
  line-height: normal;
}

.frame .container-wrapper-2 {
  position: absolute;
  width: 134px;
  height: 19px;
  top: 157px;
  left: 710px;
}

.frame .container-13 {
  position: relative;
  width: 141px;
  height: 30px;
}

.frame .text-wrapper-40 {
  position: absolute;
  width: 141px;
  height: 22px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .link-instagram {
  position: absolute;
  width: 30px;
  height: 35px;
  top: 0;
  left: 940px;
}

.frame .link-twitter {
  position: absolute;
  width: 30px;
  height: 35px;
  top: 1px;
  left: 993px;
}

.frame .link-facebook {
  position: absolute;
  width: 30px;
  height: 35px;
  top: 0;
  left: 1045px;
}

.frame .separator {
  position: absolute;
  width: 1142px;
  height: 1px;
  top: 211px;
  left: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: #ffffff1a;
}

.frame .text-wrapper-41 {
  position: absolute;
  width: 135px;
  height: 17px;
  top: 248px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}
